body{
    background: rgb(138,93,7);
    background: linear-gradient(40deg, rgba(138,93,7,1) 4%, rgba(65,138,7,1) 9%, rgba(138,93,7,1) 14%, rgba(138,93,7,1) 18%, rgba(179,3,40,1) 22%, rgba(8,53,129,1) 23%, rgba(0,255,181,1) 29%, rgba(153,5,72,1) 33%, rgba(213,0,0,1) 36%, rgba(146,6,80,1) 36%, rgba(6,71,143,1) 37%, rgba(8,83,131,1) 42%, rgba(124,8,106,1) 45%, rgba(8,119,118,1) 47%, rgba(112,9,121,1) 50%, rgba(125,24,24,1) 53%, rgba(99,38,128,1) 56%, rgba(92,53,132,1) 59%, rgba(85,68,136,1) 62%, rgba(133,138,78,1) 64%, rgba(158,141,5,1) 68%, rgba(65,112,146,1) 71%, rgba(29,191,165,1) 72%, rgba(56,132,151,1) 75%, rgba(74,93,141,1) 77%, rgba(49,147,155,1) 78%, rgba(40,167,159,1) 82%, rgba(117,9,115,1) 86%, rgba(20,211,170,1) 91%, rgba(213,0,0,1) 94%, rgba(159,7,240,1) 97%);
}

h1{
    color: burlywood;
    font-family: 'Lobster', cursive;
}

#showsketch{
    float: right;
}

canvas{
    animation-name:exple ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border:5px double rgb(99, 195, 147);
    margin-top: 100px;
    border-radius: 20px;
    
}

p{
    font-family: 'Lobster', cursive;
    color:burlywood ;
}

@keyframes exple{
    from{box-shadow:3px 3px 30px rgba(153,5,72,1);}
    to{box-shadow:3px 3px 30px rgba(8,119,118,1);}
}
#tempo{
    float: right;
    margin-right: 20px;
    font-size: 45px;
    color: darkmagenta;
}
#pontos{
    margin-left: 20px;
    font-size: 45px;
    color: lightblue;
}